* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.subtitle {
  color: #df001f;
  font-family: 'Great Vibes', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 3.2px;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}


