.menu-button {
  background-color: #ffffff;
  padding: 10px 45px;
  border-radius: 25px;
  color: #df001f;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

